@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

h1 {
  @apply mb-5 text-2xl font-bold;
}

h2 {
  @apply mb-5 text-xl font-semibold;
}

h3 {
  @apply my-5 text-[1.0625rem];
}

p {
  @apply my-5;
}

ul {
  @apply ml-5 list-disc;
}

ol {
  @apply ml-5 list-decimal;
}

hr {
  @apply my-5 dark:border-zinc-300;
}

blockquote {
  @apply border-l-4 pl-5 italic;
}

code:not(pre code) {
  @apply mx-0.5 rounded-md border border-zinc-300 bg-zinc-100 px-1 dark:border-zinc-600 dark:bg-zinc-800;
}

pre {
  @apply my-5;
}

.dark {
  @apply text-zinc-200;
}

/* code block */

/* pretty-code (shiki) recommend */

.prose pre {
  @apply overflow-auto rounded-lg border border-[#eee] px-0 py-3 dark:border-[#333];
}

.prose pre > code {
  display: grid;
  @apply text-sm;
}

/* Fenced Code block - hide horizontal scrollbar: webkit */
.prose pre::-webkit-scrollbar {
  display: none;
}
/* Fenced Code block - hide horizontal scrollbar: mozila */
.prose pre {
  scrollbar-width: none;
}

/* Fenced Code block - line style */
.prose pre span[data-line] {
  @apply inline-block px-2 py-0 leading-snug md:px-4;
}

/* Fenced Code block - line number style */
.prose code[data-line-numbers] {
  counter-reset: line;
}

.prose code[data-line-numbers] > span[data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.5rem;
  margin-right: 1.25rem;
  text-align: right;
  color: gray;
}

.prose code[data-line-numbers-max-digits="2"] > span[data-line]::before {
  width: 1rem;
}
.prose code[data-line-numbers-max-digits="3"] > span[data-line]::before {
  width: 1.5rem;
}

/* Fenced Code block - line hightlight */
.prose code span[data-highlighted-line] {
  @apply border-y-0 border-l-2 border-blue-400 bg-indigo-400 bg-opacity-10 pl-[calc(0.5rem-2px)] dark:border-blue-500 dark:bg-slate-700 md:pl-[calc(1rem-2px)];
}

/* Fenced Code block - word highlight */
.prose mark[data-highlighted-chars] {
  @apply bg-teal-400 bg-opacity-25;
}
.prose mark[data-highlighted-chars][data-chars-id="y"] {
  @apply bg-yellow-400 bg-opacity-25;
}
.prose mark[data-highlighted-chars][data-chars-id="b"] {
  @apply bg-sky-400 bg-opacity-25;
}
.prose mark[data-highlighted-chars][data-chars-id="hidden"] {
  @apply bg-transparent;
}
.prose mark[data-highlighted-chars][data-chars-id="hidden"] > span {
  @apply text-transparent;
}

/* Fenced Code block - with title style*/
.prose figcaption[data-rehype-pretty-code-title] {
  @apply rounded-t-lg border border-b-0 border-[#eee] bg-[#eee] px-3 py-1 font-mono text-sm font-semibold text-gray-800 dark:border-zinc-700 dark:bg-zinc-700 dark:text-zinc-300;
}
.prose figcaption[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

/* rehype pretty code: Multiple Themes */

pre[data-theme*=" "],
pre[data-theme*=" "] span {
  color: var(--shiki-light);
  /* background-color: var(--shiki-light-bg); */
}

.dark pre[data-theme*=" "] {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

.dark pre[data-theme*=" "] span {
  color: var(--shiki-dark);
  /* background-color: var(--shiki-dark-bg); */
}
